body {
  font-family: 'Roboto', sans-serif;

  background-color: var(--white);
}
:root {
  --iris: #4D5AE5 ; 
  --navyblue: #2E2F42; 
  --ocean: #404BBF; 
  --slate: #434455; 
  --white: #FFFFFF; 
  --cloud: #F4F4FD; 
  --cornflower: #E7E9FC; 
}

.logo {
  color: var(--iris );
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-next {
  color: var(--navyblue );
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.logo-studio {
  color: var(--cloud, );
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.menu.link:hover,
.menu.link:focus {
  color: var(--ocean );
}
.menu {
  color: var(--navyblue );
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.address-list {
  color: var(--slate );
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.02em;
 
  
}
.address-list.link:hover,
.address-list.link:focus {
  color: var(--ocean );
  
}
.address {
  font-style: normal;
  
}
  

.section {
  background: var(--navyblue );
}
.section-our-team {
  background-color: var(--cloud );
}
/* Header 1 */

.main {
  color: var(--white );
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 0.02em;
}

.button-all {
  background: var(--cloud ) ;
  color: var(--iris );
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.04em;
  cursor: pointer;
}
.button-all:hover,
.button-all:focus {
  color: var(--white );
  background-color: var(--ocean );

}
.button {
  background-color: var(--iris );
  color: var(--white );
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.04em;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: var(--ocean );
}
.name-list {
  background-color: var(--white );
}
/* Body */
.name-h {
  color: var(--navyblue );
  text-align: center;
  font-size: 36px;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.name-paragrah {
  color: var(--slate );
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.02em;
}
.name-studio {
  color: var(--slate );
  text-align: center;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
.name-advantages {
  color: var(--navyblue );
  font-size: 20px;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.02em;
}
footer {
  background: var(--navyblue );
}
.footer-paragrah {
  color: var(--cloud );
  font-size: 16px;
  line-height: 24px; /* 150% */
  letter-spacing: 0.02em;
}
